<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SwiftImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SwiftImporter.Properties.Settings.reconciliationConnectionString" connectionString="Data Source=uatMinky;Initial Catalog=reconciliation;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SwiftImporter.Properties.Settings.ReconciliationConnectionString1" connectionString="Data Source=MINKY;Initial Catalog=Reconciliation;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <SwiftImporter.Properties.Settings>
            <setting name="ScheduledRunTime" serializeAs="String">
                <value>08:30:00</value>
            </setting>
            <setting name="SwiftFilesPath" serializeAs="String">
                <value>\\swiftprod\SWIFT_FILES\</value>
            </setting>
            <setting name="DSN_LIVE" serializeAs="String">
                <value>Reconciliation</value>
            </setting>
            <setting name="DSN_TEST" serializeAs="String">
                <value>Reconciliation_Test</value>
            </setting>
            <setting name="DSN_TEST_UAT" serializeAs="String">
                <value>Reconciliation_Test_UAT</value>
            </setting>
            <setting name="SwiftFilesPath_TEST" serializeAs="String">
                <value>C:\Temp\SWIFT_FILES\</value>
            </setting>
        </SwiftImporter.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
