<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mage_Install_Location_Mover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mage_Install_Location_Mover.Properties.Settings>
            <setting name="SigningKey" serializeAs="String">
                <value>S:\Dev\MapleKey2023.pfx</value>
            </setting>
            <setting name="SigningKeyPW" serializeAs="String">
                <value>Ryder14</value>
            </setting>
        </Mage_Install_Location_Mover.Properties.Settings>
    </applicationSettings>
</configuration>