<?xml version="1.0" encoding="utf-8" ?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    >
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable
      name="brief"
      value="${longdate} | ${level} | ${logger} | ${message}"
        />
  <variable
      name="verbose"
      value="${longdate} | ${machinename} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"
        />
  <targets>
    <target
      name="mail"
      xsi:type="Mail"
      smtpServer="LONDONEX1.mpuk.com"
      smtpPort="25"
      from="charlie.wong@mpuk.com"
      to="london_developers@mpuk.com"
      subject="Berg error (OTCOptionValuation_BBImporter) ${machinename}: ${message}"
      body="${longdate}|${level:uppercase=true}|${logger}|${callsite}|${message}|${exception}|${stacktrace}"
            />
    
    <target
        xsi:type="File"
        name="remoteFile"
        fileName="\\londonfs1\d\Export\Data\Dev\Logs\OTCOptionValuation_BBImporter\\${machinename}.Live.Current.log"
        layout="${longdate} ${uppercase:${level}} ${message}"
        archiveFileName="\\londonfs1\d\Export\Data\Dev\Logs\OTCOptionValuation_BBImporter\\${machinename}.Live.Archive.{##}.log"
        archiveNumbering="Rolling"
        archiveEvery="Day"
        maxArchiveFiles="7"
        concurrentWrites="false"
            />
    <target
        xsi:type="Console"
        name="myConsole"
        layout="${longdate} ${uppercase:${level}} ${message}"
        footer=""
        header=""
        error="false"
            />
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger
        name="*"
        minlevel="Trace"
        writeTo="myConsole"
            />
    <logger
        name="*"
        minlevel="Trace"
        writeTo="remoteFile"
            />

    <logger
       name="*"
       minlevel="Error"
       writeTo="mail"
            />
    
  </rules>
</nlog>
