<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cost_Split.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cost_Split.Properties.Settings>
      <setting name="ConfigName" serializeAs="String">
        <value>Uat</value>
      </setting>
            <setting name="DSN" serializeAs="String">
                <value>Jira_TestUAT</value>
            </setting>
        </Cost_Split.Properties.Settings>
    </applicationSettings>
</configuration>