<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SwiftImporterService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <applicationSettings>
    <SwiftImporterService.Properties.Settings>
      <setting name="PollFolders" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>\\LondonFS1\d\export\data\Dev\Test\Reconciliations\MT300_FFT\*.*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ConfigName" serializeAs="String">
        <value>Uat</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=uatMINKY;Initial Catalog=Reconciliation;Integrated Security=True</value>
      </setting>
      <setting name="Recipients" serializeAs="String">
        <value>charlie.wong@mpuk.com</value>
      </setting>
    </SwiftImporterService.Properties.Settings>
  </applicationSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <variable name="brief" value="${longdate} | ${level} | ${logger} | ${message}"/>
    <variable name="verbose" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>
    <targets>
      <!-- add your targets here -->
      <target xsi:type="File" name="remoteFile" fileName="\\londonfs1\d\Export\Data\Dev\Logs\${logger}.${machinename}.Uat.Current.log" layout="${longdate} ${logger} ${uppercase:${level}} ${message}" archiveFileName="\\londonfs1\d\Export\Data\Dev\Logs\${logger}.${machinename}.Uat.Archive.{##}.log" archiveNumbering="Rolling" archiveEvery="Day" maxArchiveFiles="7"/>
      <target xsi:type="Console" name="myConsole" layout="${longdate} ${logger} ${uppercase:${level}} ${message}" footer="" header="" error="false"/>
      <target name="mail" xsi:type="Mail" smtpServer="LONDONEX1.mpuk.com" smtpPort="25" from="ITsystemUser@mpuk.com" to="charlie.wong@mpuk.com" subject="Error logged by Swift Importer (Uat) - ${message} (${machinename})" body="${longdate}|${level:uppercase=true}|${logger}|${callsite}|${message}|${exception}|${stacktrace}"/>
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <logger name="*" minlevel="Trace" writeTo="myConsole"/>
      <logger name="*" minlevel="Trace" writeTo="remoteFile"/>
      <logger name="*" minlevel="Fatal" writeTo="mail"/>
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
